body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #000000;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

.operand-display {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 5px;
  text-align: end;
  background: transparent;
  color: #fff;
}

.screen {
  width: 100%;
  font-size: 3.5rem;
  margin-bottom: 20px;
  padding-left: 5px;
  text-align: end;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 10px;
}

button {
  background: #333333;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 15%;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

button:active,
button:focus {
  filter: brightness(170%);
  transition: all 0.2s ease-in;
}

.key-zero {
  grid-column: span 2;
  width: 100%;
  border-radius: 30px;
}

.operator.equals {
  grid-row: span 2;
  height: 100%;
  border-radius: 30px;
  background: #379777;
  color: #fff;
}

.operator {
  background: #379777;
}

.key-others {
  background: #a6a6a6;
  color: #000000;
}

.key-others:active,
.key-others:focus {
  transition: all 0.2s ease-in;
}
